/Pratica Laço/Avaliaçao Laço/piramede/target/
/Pratica Laço/Avaliaçao Laço/jogoDoPIM/target/
/Pratica Laço/Avaliaçao Laço/funcaoComSomatorio/target/
/Pratica Laço/nNumerosPrimos/target/
/Pratica Laço/fibonacci/target/
/Pratica Laço/Avaliaçao Laço/numeroNaVertical/target/
/Pratica Laço/Avaliaçao Laço/EFibonacci/target/
/Pratica Laço/fatorialDeUmNumero/target/
